@import './_base/base.scss'; 
@import './_base/mixin.scss'; 

*{padding:0; margin:0; font-family: 'Noto Sans', sans-serif;}
li{list-style:none;}
cf::after{content: " "; display: block; width:0; height:0; clear:both;}
.hidden, .hidden_span span{display: block; width: 1px; height: 1px; position: absolute; left: -9999px; top: -9999px; z-index: -9999; overflow:hidden;}
.inner_a a, .inner_btn button{width:100%; height:100%; display: block;}
.wrap{width:100%; min-width:1000px; height: auto;}
button{background-color: transparent; border: none; cursor: pointer;}
.inner_box{width:1000px; height: 100px; margin: 0 auto; padding:0 10px; box-sizing: border-box;padding-top: 10px;}

/*헤더*/
.head_box{width:100%; height: auto; border-top: 8px solid map-get($color,sub); }
.head_box .inner_box{display: flex;}
h1{width:109px; height: 77px; margin-right: 120px; background-image: url("../img/header/logo1.gif");}
.head_box nav{align-self:flex-end; padding-bottom: 10px; box-sizing: border-box; line-height: 67px; font-size: 19px; font-size: 1.18rem;}
.gnb_box{width: 555px; height: 83px; position: relative; z-index: 100;}
.gnb{width: herit; height: herit;}
.gnb > li{width: 123px; height: auto; float: left;text-align:center; position: relative; }
.gnb > li>a{width:100%; height:83px; display: block; }
.gnb > li:hover{background-color: map-get($color,primary); color:#fff;}
.gnb > li:hover > ul > li{display:block;}
.gnb > li a{text-align:inherit; text-decoration: none; color: #000;}
.gnb > li:hover a{color:#fff;}
.gnb > li > ul{position: absolute; left:0; top: 83px; z-index: 100; background-color: map-get($color,primary);}
.gnb > li > ul > li{width: 123px; height: 40px; font-size: 14px; font-size: 0.875rem; display: none; line-height: 40px;}
.gnb > li > ul > li:hover{background-color: map-get($color,sub);}
.head_box .sns_box{width: 80px; height: 40px; float:right; align-self: center;
  ul{width:100%; height: 100%; float: left; 
    li{width:30px; height: 100%;background-repeat: no-repeat; float: left;margin-left: 10px;
    &:first-child{background-image: url($url+'main/sns_91.gif');}
    &:last-child{background-image: url($url+'main/sns_92.gif');}
    }
  }//ul
}//sns_box

/*메인 박스*/
.contentBox{width: 100%; height: auto;}
/*메인 배너*/
.main_banner{width:100%; height: 856px; position: relative; margin-bottom: 150px; overflow:hidden;}
.slide_box{width:100%; height: 762px;}
.slide_box > ul {width: 300%; height: inherit;}
.slide_box > ul > li {width: 33.333333%; height: inherit; float: left; background-repeat:no-repeat; background-size: cover; background-position: center; }
.slide_box > ul > li:first-child{background-image: url('../img/main/bn_01.jpg');}
.slide_box > ul > li:nth-child(2){background-image: url('../img/main/bn_02.jpg');}
.slide_box > ul > li:nth-child(3){background-image: url('../img/main/bn_03.jpg');}
.main_banner .btn_box{width: 100%; height: auto; position: absolute; top: 642px;}
.main_banner .btn_box > ul{display: flex; display: -webkit-flex; justify-content:center; width: 100%; height: auto;}
.main_banner .btn_box > ul > li {width: 15px; height: 15px; background-color: #fff; border-radius: 8px; margin-left: 10px;}
.main_banner .btn_box > ul > li:first-child{margin-left: 0;}
.main_banner .btn_box > ul > li.select{width: 46px; background-color: map-get($color,primary);}
.main_banner .tab_box{width:1000px; height: 140px; position: absolute; left: 50%; bottom: 0; margin-left: -500px; background-color: transparent;}
.main_banner .tab_box > ul{width: 100%; height: inherit;}
.main_banner .tab_box > ul > li{width: 33.333333%; height: inherit; float: left; text-align:center; padding-top: 40px; box-sizing: border-box; line-height: 90px;}
.main_banner .tab_box > ul > li.select {border: 5px solid map-get($color,primary); box-sizing: border-box;}
/*메인 케이크*/
.info_cake{width:100%; height: 665px; margin-bottom: 130px; background-image: linear-gradient(to bottom, #fff 50%, #eee 50%);  position: relative;
  .btn_box2{width: 100%; height:0;
    > ul{width: 1002px; height: 0; position: absolute; top: 50%; margin-top: -65px; left: 50%; margin-left: -501px;
      > li{width: 62px; height: 130px; position: absolute; background-image: url($url + 'main/btn_next1.png'); background-repeat: no-repeat;
        &:nth-child(1){left: 0; transform: rotate(180deg);}
        &:nth-child(2){right: 0;}
      }//li
    }// >ul
  }//btn_box3
}//info_cake
.slice_box2{width:100%; height: 100%; overflow: hidden;}
.slice_box2 > ul{width:400%; height:100%;}
.slice_box2 > ul > li{width: 25%; height: 100%; float:left;}
.slice_box2{
  .img_box{width: 1002px; height: 542px; margin: 0 auto;}
  //img_box
  @for $i from 1 through 4{
    .bn2_0#{$i}{background-image: url($url + 'main/b2_0' + $i +'.png');}
  }//@for
} //slice_box2
.slice_box2 .text_box{text-align: center;
  a{padding: 10px; background-color: #000; color: #fff; margin-top: 10px; display: inline-block; width: auto; text-decoration: none; text-transform: uppercase;}
}//.text_box
/*케이크 뉴스*/
.news_cake{width:100%; height: 1027px;
  .inner_box{width: 1000px; height: auto; column-width: 490px; column-gap: 20px; padding: 0;
    > div{display: inline-block; margin-top: 20px; position: relative;
      &:last-child{width: 490px; height:469px;
        >div{float: left;
          &:last-of-type{float: right; display: flex; flex-wrap: wrap; flex-direction: column-reverse;
            div{margin-bottom: 10px;}
          }
        }
      }
      >.info_news{position: absolute; bottom: 40px; left: 40px; color: #fff;}
    }// >div
  }//inner_box;
}//news_cake
/* TOP 버튼 */
.btn_top{width: 40px; height: 40px; position: fixed; bottom: 40px; right: 40px; background-color: #fff; border: 1px solid #000;}
.btn_top button{width: 100%; height: 100%; display:block; background-color: inherit; border: 0; cursor:pointer;}
/*footer*/
.foot_box{width:100%; height: auto; min-height: 120px; background-color: #212121; color: #aaa; font-style:none; padding-top: 10px;
  .inner_box{display: flex; align-items: center; justify-content: space-between;}
  h2{width: 110px; height: 78px; background-image: url($url + 'footer/f_logo.gif'); background-repeat: no-repeat;}
  address{width: 600px; font-style: inherit; font-size: 12px; font-size: 0.75rem;}
  .foot_menu{width: 192px; height: 25px; display: flex;
    >div{width: auto; height: 100%; background-color: #000; padding: 4px 10px; margin-right: 10px;}
    a{color:inherit; text-decoration: none; text-align: center; text-transform:uppercase; font-size: 12px; font-size: 0.75rem; line-height: 25px;}
  }
}
.color_pr{color:map-get($color,primary);}
